@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em 0;
}

/* section {

  text-align: center;
} */

footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.shared-heading{
  text-align: center;
  background-color: #1f2937;
  font-size: x-large;
  font-family: serif;
  margin-bottom: 4px;
  color: white;
}

.shared-section{
  text-align: center;
  font-family:  'Lucida Sans';
  margin-bottom: 120px;
  padding-left:40px;
  padding-right: 40px;
}